.cover {
  position: fixed;
  right: 0;
  z-index: 99;
  width: 500px;
  height: 400px;
  top: 0;
  background-color: rgba(58, 57, 57, 0.377);
  width: 100%;
  height: 100%;
}


.panelContainer {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid var(--grey2);
  background-color: var(--grey);
  width: 560px;
  padding: 30px;
  height: 100%;
}

.head {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.closeCart {
  cursor: pointer;
}
.itemList {
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 600px;
  overflow-y:auto;
}

.button {
  padding: 16px 60px; 
  border-radius: 10px;
  background-color: red;
  width: 100%;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 60px;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.pricing {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
}

.pricing > div {
  display: flex;
  justify-content: space-between;
}

.total {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 20px;
}

.normalContainer {
  display: flex;
  width: 560px;
  height: 100%;
  flex-direction: column;
  background-color: inherit;
}

.normalContainer > .itemList {
  height: 400px;
}

.cartWrapper {
  width: min-content;
}
