:root {
  font-family:  'Poppins';
  line-height: 1.5;
  --dark-blue: #10151F;
  --dark-blue2: #3E424A;
  --grey: #F8F6F7;
  --grey2: #E1DFE1;
  --dark-grey: #212B36;
  --red: #FF4000;
  width: 100%;
  color: var(--dark-blue);
}


#root, html, body,:root {
  width: 100%;
  margin: 0;
  padding: 0;

}
div, a, button, input {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: var(--dark-blue);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--dark-blue);
}


