.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 80px;

  margin-top: 50px;
  border-top: 1px solid var(--grey2);
}

.head {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.head img{
  height: 50px;
}