.page {
  padding: 0 100px;
}

.body {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  gap: 100px;
}

.main {
  padding: 50px 40px;
  border-radius: 16px;
  background-color: var(--grey);
  grid-row: 1/ 3;

}


.forms {
  width: 60%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 32px;
}

.inputWrapper.mail {
  grid-column: 1 / 3;
}

.inputWrapper {
  position: relative;
}


.invalid  > input {
  border:  1px solid var(--red);
  outline: none;
}


.payButton {
  grid-column: 2/ 3;
}
