
.page {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(4,412px);
  gap: 24px;
}

.head {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products {
  font-weight: 600;
  font-size: 42px;
}
.pageMeta {
  font-weight: 400;
  color: var(--dark-blue2);
  font-size: 12px;
  border-right: 1px solid #E1DFE1;
  padding-right: 36px;
}

.rightEnd {
  display: flex;
  align-items: center;
  gap: 36px;
}

.priceNote {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--grey2);
  padding: 8px 10px;
  border-radius: 50px;
  margin-block: 10px;
}

.closePriceNote {
  height: 8px;
  cursor: pointer;
}