
.container {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.numbers {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.pageNum {
  border: 1px solid var(--grey);
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 4px;
}
.current {
  border-color: var(--red);
  color: var(--red);
}

.next, .prev {
  cursor: pointer;
  padding: 4px;
}

.next > img {
  transform: rotateZ(180deg);
}